<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
   <div class="flexrow">
    <h2 class="box_w sheet">Weapon Info</h2>
      </div>
      <div class="flexrow">
    <table class="table_main table_shadow">
  <tr>
    <td class="bold">Weapon Damage:</td>
    <td><input name="system.damage" type="text" value="{{system.damage}}"/></td>
     <td class="bold">Damage Modifier:</td>
     <td><select name="system.weapon_mod"> {{selectOptions config.weapon_mod selected=system.weapon_mod}}</select></td>
     <td class="bold">Unique Modifier:</td>
     <td><input name="system.mod" type="text" value="{{system.mod}}" data-dtype="Number"/></td>
  </tr>
  <tr>
    <td class="bold">Weapon Type:</td>
    <td><select name="system.weapon_type"> {{selectOptions config.weapon_type selected=system.weapon_type}}</select></td>
    <td class="bold">Damage Type:</td>
     <td><select name="system.damage_type"> {{selectOptions config.damage_type selected=system.damage_type}}</select></td>
  </tr>
    <tr>
     <td class="bold">Is Equiped?:</td>
    <td><input class="ui-checkbox" type="checkbox" name="system.eq" {{checked system.eq}}></td>
  </tr>
      <tr>
     <td class="bold">Quantity:</td>
    <td><input name="system.quantity" type="text" value="{{system.quantity}}" data-dtype="Number"/></td>
    <td class="bold">Cost:</td>
    <td><input name="system.cost" type="text" value="{{system.cost}}" data-dtype="Number"/></td>
    <td><select name="system.cost_type"> {{selectOptions config.cost_type selected=system.cost_type}}</select></td>
    <td class="bold">Rarity:</td>
    <td><select name="system.rarity"> {{selectOptions config.rarity selected=system.rarity}}</select></td>
  </tr>
</table>
 </div>
     <div class="flexrow">
<h2 class="sheet">Description</h2>
</div>
<div class="flexrow">
 {{editor item.info target="system.info"rollData=rollData button=true editable=editable}}
</div>
</form>
