<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="info">Basic Info</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  <section class="sheet-body">
<div class="tab info" data-group="primary" data-tab="skills">
    <h3>HP</h3>
<table>
    <tr>
        <td><input name="system.hp.value" type="text" value="{{system.hp.value}}" data-dtype="Number"/></td>
        <td>/</td>
       <td><input name="system.hp.max" type="text" value="{{system.hp.max}}" data-dtype="Number"/></td>

    </tr>

</table>
 </div>

   
    
<div class="tab notes " data-group="primary" data-tab="notes"> 

     {{editor notes target="system.notes" button=true editable=editable}}

</div>

</section>
    </form>