<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class=""><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/></h1>
        <table class="table_main table-color no_color">
            <tr height="35px">
                <td><h2 class="sheet">Race</h2></td>
                <td><h2 class="sheet">Class</h2></td>
                 <td><h2 class="sheet">XP</h2></td>
                  <td><h2 class="sheet">Level</h2></td>
            </tr>
            <tr>
                <td width="150px"><input class="invi" name="system.details.race" type="text" value="{{system.details.race}}"/></td>
                <td width="150px"><input class="invi" name="system.details.class" type="text" value="{{system.details.class}}"/></td>
                <td width="100px"><input class="invi" name="system.xp.value" type="text" value="{{system.xp.value}}" data-dtype="Number"/>/ {{system.xp.max}}</td>
                <td width="50px"><input class="invi" name="system.levels" type="text" value="{{system.levels}}" data-dtype="Number"/></td>
            </tr>

        </table>
    </header>

    <!-- Main Div -->
        <div class="flexrow">
           <!-- Money Col -->  
           <div class="flexcol flex0">
                <table class="table_main table_shadow only_alt table_side">
                    <tr>
                        <td><h2 class="sheet">Money</h2></td>
                    </tr>
                    <tr><td>Platinum</td></tr>
                    <tr><td><input class="invi" name="system.currency.pp" type="text" value="{{system.currency.pp}}" data-dtype="Number"/></td></tr>
                    <tr><td>Gold</td></tr>
                    <tr><td><input class="invi" name="system.currency.gp" type="text" value="{{system.currency.gp}}" data-dtype="Number"/></td></tr>
                    <tr><td>Silver</td></tr>
                    <tr><td><input class="invi" name="system.currency.sp" type="text" value="{{system.currency.sp}}" data-dtype="Number"/></td></tr>
                    <tr><td>Copper</td></tr>
                    <tr><td><input class="invi" name="system.currency.cp" type="text" value="{{system.currency.cp}}" data-dtype="Number"/></td></tr>
                </table>

           </div>
           <!-- Money Col End -->

            <!-- Abilities / Other Col -->
            <div class="flexcol flex1">
                <!-- Abilities Row 1 -->
                <div class="flexrow">
                    <div class="flexcol center abi_bor h_140 m-5">
                        <h1 class="rollable hvr-pulse sheet" data-roll="d20+@abilities.str.mod" data-label="Strength Roll">{{numberFormat system.abilities.str.mod}}</h1>
                        <input class="abi" name="system.abilities.str.value" type="text" value="{{system.abilities.str.value}}" data-dtype="Number"/>
                        <h3 class="sheet">Strength</h3>
                    </div>
                    <div class="flexcol center abi_bor h_140 m-5">
                        <h1 class="rollable hvr-pulse sheet" data-roll="d20+@abilities.dex.mod" data-label="Dexterity Roll">{{numberFormat system.abilities.dex.mod}}</h1>
                        <input class="abi" name="system.abilities.dex.value" type="text" value="{{system.abilities.dex.value}}" data-dtype="Number"/>
                        <h3 class="sheet">Dexterity</h3>
                    </div>
                    <div class="flexcol center abi_bor h_140 m-5">
                        <h1 class="rollable hvr-pulse sheet" data-roll="d20+@abilities.int.mod" data-label="Inteligence Roll">{{numberFormat system.abilities.int.mod}}</h1>
                        <input class="abi" name="system.abilities.int.value" type="text" value="{{system.abilities.int.value}}" data-dtype="Number"/>
                        <h3 class="sheet">Inteligence</h3>
                    </div>
                    <div class="flexcol center abi_bor h_140 m-5">
                        <h1 class="rollable hvr-pulse sheet" data-roll="d20+@abilities.cha.mod" data-label="Charisma Roll">{{numberFormat system.abilities.cha.mod}}</h1>
                        <input class="abi" name="system.abilities.cha.value" type="text" value="{{system.abilities.cha.value}}" data-dtype="Number"/>
                        <h3 class="sheet">Charisma</h3>
                    </div>
                    <div class="flexcol center abi_bor h_140 m-5">
                        <h1 class="rollable hvr-pulse sheet" data-roll="d20+@abilities.per.mod" data-label="Perception Roll">{{numberFormat system.abilities.per.mod}}</h1>
                        <input class="abi" name="system.abilities.per.value" type="text" value="{{system.abilities.per.value}}" data-dtype="Number"/>
                        <h3 class="sheet">Perception</h3>
                    </div>
                </div>

                <!-- Abilities Row 1 End -->

                <!-- Profi / Hp and Mana dice -->

                <div class="flexrow">
                    <!-- Profi -->
                    <div class="flexcol">
                        <div class="flexrow">
                            <div class="flexcol center">
                                <h3 class="sheet">Proficiency bonus:</h3>
                                <span class="center"><input style="width:100px" name="system.pro_bonus" type="text" value="{{system.pro_bonus}}" data-dtype="Number"/></span>
                                <h3 class="sheet">AC bonus:</h3>
                                <span class="center"><input style="width:100px" name="system.ac_bonus" type="text" value="{{system.ac_bonus}}" data-dtype="Number"/></span>
                            </div>
                            <div class="flexcol center">
                                <h3 class="sheet">Proficient:</h3>
                                <span class="d-flex center"><h3 class="sheet">Strength</h3><input class="ui-checkbox" type="checkbox" name="system.abilities.str.proficient" {{checked system.abilities.str.proficient}}></span>
                                <span class="d-flex center"><h3 class="sheet">Dexterity</h3><input class="ui-checkbox" type="checkbox" name="system.abilities.dex.proficient" {{checked system.abilities.dex.proficient}}></span>
                                <span class="d-flex center"><h3 class="sheet">Inteligence</h3><input class="ui-checkbox" type="checkbox" name="system.abilities.int.proficient" {{checked system.abilities.int.proficient}}></span>
                            </div>
                        </div>


                    </div>
                    <!-- Profi End-->

                    <!-- Dice -->
                    <div class="flexcol">
                        <div class="flexrow">
                            <div class="flexcol center">
                                <div class="flexrow">
                                    <div class="flexcol center">
                                        <h3 class="sheet">HP Dice</h3>
                                        <span class="d-flex center"><input class="invi w-100" style="width:75px" name="system.hp_dice.value" type="text" value="{{system.hp_dice.value}}" data-dtype="Number"/>/ {{numberFormat system.hp_dice.max}}</span>
                                        <span class="center m-5"><select style="width:100px" name="system.hp_dice_type"> {{selectOptions config.hp_dice_type selected=system.hp_dice_type}}</select></span>
                                    </div>
                                </div>
                                <div class="flexrow">
                                    <div class="flexcol center">
                                        <h3 class="sheet">Mana Dice</h3>
                                        <span class="d-flex center"><input class="invi w-100" style="width:75px"  name="system.mana_dice.value" type="text" value="{{system.mana_dice.value}}" data-dtype="Number"/>/ {{numberFormat system.hp_dice.max}}</span>
                                       <span class="center m-5"><select style="width:100px" name="system.mana_dice_type">{{selectOptions config.mana_dice_type selected=system.mana_dice_type}}</select></span>
                                    </div>
                                </div>
                            </div>
                            <div class="flexcol center">
                            <div class="flexrow">
                                <div class="flexcol center">
                                    <h3 class="sheet">Exhaust</h3>
                                    <span class="center"><input class="invi w-100" style="width:100px" name="system.attributes.exhaust.value" type="text" value="{{system.attributes.exhaust.value}}" data-dtype="Number"/></span>
                                </div>
                            </div>
                             <div class="flexrow">
                                <div class="flexcol center">
                                    <h3 class="sheet">Dying?</h3>
                                   <span class="center"><input class="ui-checkbox center" type="checkbox" name="system.dying.isDying" {{checked system.dying.isDying}}></span>
                                </div>
                            </div>


                            </div>
                        </div>
                    </div>
                    <!-- Dice End-->

                </div>

                <!-- Profi / Hp and Mana dice End -->

            </div>
            <!-- Abilities / Other Col End --> 

            <!-- Main Stats -->
            <div class="flexcol flex0">
                <table class="table_main table_shadow only_alt table_side">
                    <tr>
                        <td class="shield" height="40px">
                            <h4 class="sheet bold">{{system.attributes.ac}}</h4>
                            <!--<h3 class="sheet">AC</h3>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="heart">
                          <input class="bold w_100" name="system.hp.value" type="text" value="{{system.hp.value}}" data-dtype="Number"/>
                          <input class="invi w_100"  name="system.hp.max" type="text" value="{{system.hp.max}}" data-dtype="Number"/>
                            <h3 class="sheet">HP</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="bold w_100"  name="system.mana.value" type="text" value="{{system.mana.value}}" data-dtype="Number"/>
                            <input class="invi w_100" name="system.mana.max" type="text" value="{{system.mana.max}}" data-dtype="Number"/>
                            <h3 class="sheet">Mana</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="display:flex; justify-content: center"><input class="invi w_50" name="system.attributes.movement.walk" type="text" value="{{system.attributes.movement.walk}}" data-dtype="Number"/> <span class="m-l-5">ft.</span></span>
                            <span style="display:flex; justify-content: center;"><h4>{{numberFormat system.attributes.movement.sec}}</h4><span class="m-l-5">s.</span></span>
                            <h3 class="sheet">Speed</h3>
                        </td>
                    </tr>


                </table>
            </div>
            <!-- Main Stats End -->
        </div>
    <!-- Main Div End -->




  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills/Spells</a>
    <a class="item" data-tab="ivnt">Gear & Inventory</a>
    <a class="item" data-tab="bio">Biography</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  <section class="sheet-body">
<div class="tab skills" data-group="primary" data-tab="skills"> 

    <table class="table table_main table_shadow items-list">
    <tr>
       <th style="text-align:left;">Name</th> 
       <th>Damage</th>
       <th>Damage Modifier</th>
       <th>Range (tf.)</th>
       <th>AoE</th>
       <th>Damage Type</th>
       <th>Mana/Cooldown (rounds)</th>
       <th>Skill / Spell Type</th>
       <th>Controls</th>

    </tr>
    {{#each skills as |item id|}}
    <tr class="item" data-item-id="{{item._id}}">
        <td><span style="display:flex;" class="rollable" data-roll="{{item.system.damage}} + @abilities.{{item.system.weapon_mod}}.mod + {{item.system.mod}}"><img class="hvr-pulse" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a><h4 class="sheet">{{item.name}}</h4></span></td>
        <td>{{item.system.damage}}</td>
        <td>{{item.system.weapon_mod}}</td>
        <td>{{item.system.range}}</td>
        <td>{{item.system.aoe}} - {{item.system.aoe_range}}tf.</td>
        <td>{{item.system.damage_type}}</td>
         <td>{{item.system.mana_cost}} {{item.system.cooldown}}</td>
         <td>{{item.system.s_type}}</td>

        <td>
            <div class="item-controls">
                <span  class="m-right"><a class="item-control item-edit" title="Edit Item">
                    <i class="fas fa-edit"></i></a></span><span><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </span>
                </div>
        </td>
        </tr>
     {{/each}}

</table>


</div>


<div class="tab ivnt" data-group="primary" data-tab="ivnt">
<h2 class="sheet">Equiped Weapons</h2>

<table class="table table_main table_shadow items-list">
    <tr>
       <th style="text-align:left;">Name</th> 
       <th>Damage Roll</th>
       <th>Damage Modifier</th>
       <th>Range (tf.)</th>
       <th>Damage Type</th>
       <th>Ammo #1</th>
       <th>#2</th>
       <th>Controls</th>

    </tr>
    {{#each eq_weapon as |item id|}}
    <tr class="item" data-item-id="{{item._id}}">
        <td><span style="display:flex"><a class="rollable" data-roll="{{item.system.damage}} + @abilities.{{item.system.weapon_mod}}.mod + {{item.system.mod}} "><img  class="hvr-pulse" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a><h4 class="sheet">{{item.name}}</h4></span></td>
        <td>{{item.system.damage}}</td>
        <td>{{item.system.weapon_mod}}</td>
        <td>{{item.system.range}}</td>
         <td>{{item.system.damage_type}}</td>
         <td><span style="display:flex">{{item.system.ammo_1}}<input class="invi in-edit-ammo1" style="width:50px;" name="item.system.ammo_count_1" type="text" value="{{item.system.ammo_count_1}}" data-dtype="text" data-name="system.ammo_count_1"/></span></td>
         <td><span style="display:flex">{{item.system.ammo_2}}<input class="invi in-edit-ammo2" style="width:50px;" name="item.system.ammo_count_2" type="text" value="{{item.system.ammo_count_2}}" data-dtype="number" data-name="system.ammo_count_2"/></span></td>

        <td>
            <div class="item-controls">
                <span  class="m-right"><a class="item-control item-toggle" title="Toggle State"><i class="fa-solid fa-toggle-on"></i></a></span>
                <span  class="m-right"><a class="item-control item-edit" title="Edit Item">
                    <i class="fas fa-edit"></i></a></span><span><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </span>
                </div>
        </td>
        </tr>
     {{/each}}

</table>
<h2 class="sheet">Equiped Armor</h2>

<table class="table table_main table_shadow items-list">
    <tr>
       <th style="text-align:left;">Name</th> 
       <th>AC</th>
       <th>Armor Type</th>
       <th>Controls</th>

    </tr>
    {{#each eq_armor as |item id|}}
    <tr class="item" data-item-id="{{item._id}}">
        <td><span style="display:flex"><a class="rollable" data-roll="{{item.system.damage}} + @abilities.{{item.system.weapon_mod}}.mod "><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a><h4 class="sheet">{{item.name}}</h4></span></td>
        <td class="ac_armor">{{item.system.ac_full}}</td>
        <td>{{item.system.armor_type}}</td>
        <td>
            <div class="item-controls">
                <span  class="m-right"><a class="item-control item-toggle" title="Toggle State"><i class="fa-solid fa-toggle-on"></i></a></span>
                <span  class="m-right"><a class="item-control item-edit" title="Edit Item">
                    <i class="fas fa-edit"></i></a></span><span><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </span>
                </div>
        </td>
        </tr>
     {{/each}}

</table>

    <h2 class="sheet">Inventory</h2>
<select name="system.inv_size">{{selectOptions config.inv_size selected=system.inv_size}}</select>

<table class="table table_main table_shadow items-list">
    <tr>
       <th style="text-align:left;">Name</th> 
       <th>Type</th>
       <th>Quantity</th>
       <th>Cost</th>
       <th>Rarity</th>
       <th>Controls</th>

    </tr>
    {{#each inv as |item id|}}
    <tr class="item" data-item-id="{{item._id}}">
        <td><span style="display:flex"><a class="rollable" data-roll="{{item.system.damage}} + @abilities.{{item.system.weapon_mod}}.mod "><img class="hvr-pulse" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a><h4 class="sheet">{{item.name}}</h4></span></td>
        <td>{{item.type}}</td>
        <td><input class="invi in-edit" style="width:50px;" name="item.system.quantity" type="text" value="{{item.system.quantity}}" data-dtype="Number" data-name="system.quantity"/></td>
        <td>{{item.system.cost}} {{item.system.cost_type}}</td>
        <td>{{item.system.rarity}}</td>
        <td>
            <div class="item-controls">
                <span  class="m-right"><a class="item-control item-toggle" title="Toggle State"><i class="fa-solid fa-toggle-off"></i></a></span>
                <span  class="m-right"><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a></span>
                    <span><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></span>
                </div>
        </td>
        </tr>
     {{/each}}

</table>

 </div>
<div class="tab bio" data-group="primary" data-tab="bio"> 
    <h2 class="sheet">Biography</h2>
     {{editor actor_bio target="system.bio" button=true editable=editable}}
     <h2 class="sheet" >Appearance</h2>
     {{editor appearance target="system.appearance" button=true editable=editable}}


    </div>
<div class="tab notes" data-group="primary" data-tab="notes"> 

     {{editor notes target="system.notes" button=true editable=editable}}

</div>

</section>
    </form>